<div class="card text-white bg-info">
  <div class="card-header">Achievements</div>
  <div class="card-body">
    <div class="row">
      <div class="col">
          <% current_user.achievements.each do |achievement| %>
            <div class="alert alert-warning" role="alert">
              <div class="row">
                <div class="col-3">
                  <%= render partial: 'shared/achivement_image_helper', locals: {name: achievement.name } %>
                </div>
                <div class="col">
                  <div class="row">
                    <div class="col">
                      <b><%= achievement.name %></b>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <%= achievement.description %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="progress" style="background-color: #abb;">
                        <div class="progress-bar bg-info" role="progressbar" style="width: <%= achievement.current_percent %>%;" aria-valuenow="<%= achievement.points %>" aria-valuemin="0" aria-valuemax="<%= achievement.goal %>">
                          <%= achievement.points %>/<%= achievement.goal%>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>