<div class="row">
  <div class="col-4 offset-4">
    <div class="card text-white bg-dark">
      <div class="card-header">Profil</div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h3 class="card-title"><%= current_user.first_name %> <%= current_user.last_name %></h3>
          </div>
            <%= render partial: 'shared/level_indicator' %>
          <div class="col">
          </div>
        </div>
        <p class="card-text">
          <div class="row">
            <div class="col-8">
              <%= image_tag 'default_image.jpg', style: 'height: 250px; border-radius: 150px; margin-bottom: 30px; margin-top: 10px;' %>
            </div>
            <div class="col-4">
              infos zum dude <br>
              noch eine info
            </div>
          </div>
          <div class="row">
            <div class="col">
              <ul class="list-group">
                <li class="list-group-item list-group-item-info">
                  <div class="row">
                    <div class="col">All points:</div>
                    <div class="col"><%= current_user.xp %></div>
                  </div>
                </li>
                <li class="list-group-item list-group-item-info">
                  <div class="row">
                    <div class="col">Points in this level:</div>
                    <div class="col"><%= current_user.xp - current_user.previous_lvl_xp_goal %></div>
                  </div>
                </li>
                <li class="list-group-item list-group-item-info">
                  <div class="row">
                    <div class="col">Points to next level:</div>
                    <div class="col"><%= current_user.next_lvl_xp_goal - current_user.xp %></div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </p>
      </div>
    </div>
    <br>
    <%= render partial: 'user_achievements.html.erb' %>
  </div>
</div>