<div class="row">
  <div class="col-12">
    <a class="card" href='#editTicket' data-toggle="modal" data-target="#createModal<%= ticket.id %>">
      <div class="card-body text-dark">
        <div class="card-title">
          <div class="row">
            <div class="col-8">
              <b><%= ticket.name %></b>
            </div>
            <div class="col-3">
              <div class="row">
                <%= render partial: 'tickets/prioritie_badge', locals: { priority: ticket.priority } %>
              </div>
              <div class="row">
                Hours: <%= ticket.hours_of_work %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>

<%= render partial: 'tickets/edit_modal', locals: { ticket: ticket } %>
