<div class="row">
  <div class="col-1">
    <%= link_to '<', project_sprint_ticket_previous_path(project_id: ticket.sprint.project.id,
                                                  sprint_id: ticket.sprint.id,
                                                  ticket_id: ticket.id),
                                                  method: :post %>
  </div>
  <div class="col-9">
    <a class="card" href='#editTicket' data-toggle="modal" data-target="#createModal<%= ticket.id %>">
      <div class="card-body text-dark">
        <div class="card-title">
          <div class="row">
            <div class="col-8">
              <h5>
                <%= ticket.name %>
              </h5>
            </div>
            <div class="col-3">
              <div class="row">
                <%= render partial: 'tickets/prioritie_badge', locals: { priority: ticket.priority } %>
              </div>
              <div class="row">
                Hours: <%= ticket.hours_of_work %>
              </div>
            </div>
          </div>
          <p class="card-text"><%= ticket.description %></p>
        </div>
      </div>
    </a>
  </div>
  <div class="col-1">
    <%= link_to '>', project_sprint_ticket_next_path(project_id: ticket.sprint.project.id,
                                                     sprint_id: ticket.sprint.id,
                                                     ticket_id: ticket.id),
                                                     method: :post %>
  </div>
</div>

<%= render partial: 'tickets/edit_modal', locals: { ticket: ticket } %>
