<div class="card text-white bg-dark mb-3" style="max-width: 25rem;">
  <div class="card-header">
    <h5 class="card-title">
      <%= status %>
    </h5>
  </div>
  <div class="card-body">
    <% project.get_column_tickets(status).each do |ticket| %>
      <% if status == 'Quality Assurance' %>
        <%= render partial: 'tickets/qa_card', locals: { ticket: ticket } %>
      <% elsif status == 'Done' %>
        <%= render partial: 'tickets/done_card', locals: { ticket: ticket } %>
      <% else %>
        <%= render partial: 'tickets/card', locals: { ticket: ticket } %>
      <% end %>
      <br>
    <% end %>
  </div>
  <% unless status == 'Done' %>
    <div class="card-footer">
      <a  href='#createTicket' class='btn btn-secondary' data-toggle="modal" data-target="#create<%= status.parameterize %>Ticket">
        <%= fa_icon("plus") %>
      </a>
      <%= render partial: 'tickets/create_modal', locals: { status: status, project: project} %>
    </div>
  <% end %>
</div>
