<div class="modal text-dark fade" id="recapModal<%= ticket.id %>" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Recap</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5><%= ticket.name %></h5>
        Ticket:
        <ul class="list-group">
          <li class="list-group-item list-group-item-secondary"><b>Name:</b> <%= ticket.name %></li>
          <li class="list-group-item list-group-item-secondary"><b>Description:</b> <%= ticket.description %></li>
          <li class="list-group-item list-group-item-secondary"><b>Hours of work:</b> <%= ticket.hours_of_work %></li>
          <li class="list-group-item list-group-item-secondary"><b>Priority:</b> <%= render partial: 'tickets/prioritie_badge', locals: { priority: ticket.priority } %></li>
        </ul>
        Review:
        <ul class="list-group">
          <li class="list-group-item list-group-item-secondary"><b>Description:</b> <%= ticket.review.last.text %></li>
          <li class="list-group-item list-group-item-secondary"><b><%= ticket.sprint.quality_1 %>:</b> <%= ticket.review.last.quality_1 %></li>
          <li class="list-group-item list-group-item-secondary"><b><%= ticket.sprint.quality_2 %>:</b> <%= ticket.review.last.quality_2 %></li>
          <li class="list-group-item list-group-item-secondary"><b><%= ticket.sprint.quality_3 %>:</b> <%= ticket.review.last.quality_3 %></li>
          <li class="list-group-item list-group-item-secondary"><b><%= ticket.sprint.quality_4 %>:</b> <%= ticket.review.last.quality_4 %></li>
          <li class="list-group-item list-group-item-secondary"><b><%= ticket.sprint.quality_5 %>:</b> <%= ticket.review.last.quality_5 %></li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
