<div class="modal text-dark fade" id="qaModal<%= ticket.id %>" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Review</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5><%= ticket.name %></h5>
        <%= simple_form_for :review, url: project_sprint_ticket_reviews_path(project_id: ticket.sprint.project.id, sprint_id: ticket.sprint.id, ticket_id: ticket.id) do |f| %>
          Description
          <%= f.input :text, as: :text, label: false %>
          <%= ticket.sprint.quality_1 %>
          <%= f.input :quality_1, label: false, as: :range %>
          <%= ticket.sprint.quality_2 %>
          <%= f.input :quality_2, label: false, as: :range %>
          <%= ticket.sprint.quality_3 %>
          <%= f.input :quality_3, label: false, as: :range %>
          <%= ticket.sprint.quality_4 %>
          <%= f.input :quality_4, label: false, as: :range %>
          <%= ticket.sprint.quality_5 %>
          <%= f.input :quality_5, label: false, as: :range %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.button :submit, class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
